### Reference Semantics

x = y # does not make a copy of y, makes x reference the object y references

In [ ]:
a = [1,2,3]
b = a
b.append(4)
print(a)

[1, 2, 3, 4]

In [ ]:
a = 1
b = a
a = a+1
print(b)

1

### The 'in' operator

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("yes, balabala")

yes, balabala

In [ ]:
# The + Operator
print("Hello" + " " + "Zijing")

Hello Zijing

In [ ]:
# The * Operator
mylist = [1,2,3]*3
mylist

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Loops

While loop; for loop

In [ ]:
i = 1
while i<6:
  print(i)
  i = i+1

1
2
3
4
5

In [ ]:
fruits = ['apple','banana','cherry']
for x in fruits:
  print(x)

apple
banana
cherry

### Python Classes and Objects

In [ ]:
# Everything in Python is an object, and has its own unique id
myname = "Zijing"
id(myname)

137620834951920

In [ ]:
luckynumber = 888
id(luckynumber)

137620283794992

In [ ]:
x = "cherry"
id(x)

137620834909104

In [ ]:
y = "cherry"
id(y)

137620834909104

## Tkinter

Online text tutorial:

https://www.geeksforgeeks.org/python-tkinter-tutorial/?ref=lbp

Video tutorial:
https://www.youtube.com/watch?v=mop6g-c5HEY

In [ ]:
# My first blank window
# only two lines of code
import tkinter

top = tkinter.Tk()
top.mainloop()

In [ ]:
# Add a button to the window
import tkinter
import tkinter.messagebox

top = tkinter.Tk()
def helloCallBack():
  tkinter.messagebox.showinfo( "Hello Python", "Hello World")
B = tkinter.Button(top, text ="Hello", command = helloCallBack)

B.pack()
top.mainloop()

In [ ]:
# HelloWorld
import tkinter
from tkinter import *

window = tkinter.Tk()
window.title('Zijing Window')
label = Label(window, text = "Hello world!\n Welcome to Zijing's class", highlightbackground='#3E4149').pack()

window.mainloop()

### Tkinter - Window
https://www.pythontutorial.net/tkinter/tkinter-window/